@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Abel|Changa+One);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.opacity {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/*//////////////////////////////////////////////////////////////////////////*/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Abel', sans-serif;
  color: #414142;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Changa One', sans-serif;
}

h2 {
  font-size: 30px;
  margin: 10px 0 30px 0;
  color: #f9ed33;
}

h3 {
  font-size: 44px;
}

p {
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 10px;
}

header {
  text-align: center;
  padding: 40px;
  background: #414142;
  color: #cecece;
}

header .container {
  max-width: 700px;
  margin: 0 auto;
}

#text {
  padding: 40px 0;
  font-size: 14pt;
  margin-bottom: 34px;
}

.text {
    max-width: 700px;
    text-align: left;
    margin: 0 auto;
}

button {
  font-size: 25px;
  border: 1px solid rgba(206,206,206,.5);
  text-transform: uppercase;
  border-radius: 2px;
  background: none;
  font-family: inherit;
  color: inherit;
  padding: 5px 10px;
  z-index: 1;
}

button:hover {
  cursor: pointer;
  background: #e6e86d;
  color: #414142;
  border: 1px solid #414142;
}

footer {
  background: rgba(65,65,66,.9);
  color: #ccc;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 11pt;
  height: 34px;

}

footer span {
    margin: 0 20px;
}

footer a {
  color: #fff;
}

:focus {
  outline: none;
}

::selection {
  background: #f9ed33; 
  color: #414142;
}
::-moz-selection {
  background: #f9ed33; 
  color: #414142;
}


@media (max-width: 767px) {
  #text {
    padding: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  header {
    padding: 30px;
  }
  img {
    width: 80px;
    height: auto;
  }
  #text {
    margin-bottom: 55px;
    padding-bottom: 65px;
  }
  footer {
    height: 55px;
  }
  footer span {
    display: block;
    margin: 3px auto;
  }
}
